@model ProjectFinalHorus.Models.Staff_Domains

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff_Domains</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
