<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title - Horus</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/TEMP/theme/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/TEMP/theme/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/TEMP/theme/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/TEMP/theme/assets/vendor/metisMenu/metisMenu.css">
    <link rel="stylesheet" href="~/TEMP/theme/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/TEMP/theme/assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/TEMP/theme/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/TEMP/theme/assets/img/favicon.png">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
                </div>
                <!-- logo -->
                <div class="navbar-brand">
                    <img src="~/Media/Images/horus.png" class="img-responsive">
                </div>
                <!-- end logo -->
                <div class="navbar-right">

                    <!-- navbar menu -->
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="lnr lnr-cog"></i>
                                </a>
                                <ul class="dropdown-menu user-menu menu-icon">
                                    <li class="menu-heading">AJUSTES DE CUENTA</li>
                                    <li>@Html.ActionLink("Salir", "Index", "Home", null, new { @class = "fa fa-fw fa-edit" })</li>
                                    <li>@Html.ActionLink("Terminos y condiciones", "Index", "Terminos", null, new { @class = "fa fa-fw fa-lock" })</li>
                                   
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end navbar menu -->
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="left-sidebar" class="sidebar">
            <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
                <span class="sr-only">Toggle Fullwidth</span>
                <i class="fa fa-angle-left"></i>
            </button>
            <div class="sidebar-scroll">
                <div class="user-account">
                    <img src="~/Media/Images/HorusEye.png" class="img-responsive img-circle user-photo">
                    <div class="dropdown">
                        <a class="dropdown-toggle user-name" data-toggle="dropdown">Hola, <strong>Admin</strong></i></a>

                    </div>
                </div>
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li class="">
                            <a href="#uiElements" class="has-arrow" aria-expanded="false"><i class="lnr lnr-magic-wand"></i> <span>Menu</span></a>
                            <ul aria-expanded="true">
                                <li class="">  @Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li class="">@Html.ActionLink("Eventos", "Index", "Events")</li>
                                <li class=""> @Html.ActionLink("Paquetes", "Index", "Packages")</li>
                                <li class=""> @Html.ActionLink("Trabajadores", "Index", "Staffs")</li>
                                <li class=""> @Html.ActionLink("Clientes", "Index", "Clients")</li>
                                <li class=""> @Html.ActionLink("Usuarios", "Index", "Users")</li>
                                <li class=""> @Html.ActionLink("Register", "Index", "Register")</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT  RENDER -->
        <div id="main-content">
            <div class="container-fluid">

                @RenderSection("scripts", required: false)
                @RenderBody()


            </div>
        </div>
        <!-- END MAIN CONTENT -->
        <div class="clearfix"></div>
        <footer class="row">
            <!-- Copyright-->

            <span>© AlejanKorps 2018</span>

        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->

    <script src="~/TEMP/theme/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/TEMP/theme/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/TEMP/theme/assets/vendor/metisMenu/metisMenu.js"></script>
    <script src="~/TEMP/theme/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/TEMP/theme/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/TEMP/theme/assets/scripts/common.js"></script>


</body>

</html>